html {
  scroll-behavior: smooth;
}

.swal2-center-buttons {
  display: flex !important;
  justify-content: center !important;
}

.swal2-cancel {
  display: none !important;
}

html {
  overflow-y: scroll;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif; /* o 'Poppins', 'Rubik', etc. */
  line-height: 1.6;
}

@keyframes fall {
  0% {
    transform: translateY(-10px) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 0.2;
  }
}

@media (min-height: 600px) and (max-height: 800px) and (max-width: 767px) {
  .gallery-hero {
    margin-top: 2rem !important;
  }
}

/* .promo-card {
  transform: var(--transform, translateY(0) scale(1));
  will-change: transform;
  transition: transform 0.7s ease-in-out;
}


.promo-card:nth-child(1) {
  z-index: 4;
}

.promo-card:nth-child(2) {
  margin-top: -8rem;
  z-index: 3;
}

.promo-card:nth-child(3) {
  margin-top: -8rem;
  z-index: 2;
}

.promo-card:nth-child(4) {
  margin-top: -8rem;
  z-index: 1;
} */
