html {
  scroll-behavior: smooth;
}

.swal2-center-buttons {
  display: flex !important;
  justify-content: center !important;
}

.swal2-cancel{
  display: none !important;
}

html {
  overflow-y: scroll;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


